<!-- navbar -->
<div class="container-fluid background">
  <nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand fw-bold" href="#">BrandName</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 text-center ms-5">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link text-success fw-bold" href="#">Login</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-success" href="#">JOIN US
            <i class="fa-solid fa-arrow-right"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- banner -->

  <div class="container-fluid mt-5">
    <div class="row">

      <div class="col-md-6">
        <div class="text">
          <p class="text-success">welcome</p>
          <div>
            <h1 class="fw-bold">Best Learning</h1>
            <h1 class="fw-bold">Opportunities</h1>
            <div class="para mt-4" style="color: white;">
              Our goal is to make online
              <div>
                education work for everyone
              </div>
            </div>
          </div>
        </div>
        <div class="button mt-4">
          <button class="btn btn-success">Join Us</button>
          &nbsp;
          <button class="btn btn-outline-success">Learn More</button>
        </div>
      </div>
      <div class="col-md-6 mt-4">
        <div class="image">
          <img src="../assets/portrait-smiling-pretty-redhead-girl-holding-books_171337-4362.avif" alt="Image"
            class="img-fluid">
        </div>
      </div>
    </div>
  </div>


</div>



<!-- 2 step -->
<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4 col-12">
      <hr class="w-25 fw-bold text-success" />
      <h2 class="fw-bold">Affordable Packages</h2>
      <div class="mt-4">
        <div>Problem trying to resolve the conflict between </div>
        <div>the two major realms of classical physics: </div>
        Newtonian Mechanics
        <div class="mt-4">
          <p class="btn text-success btn-custom">
            Learn More <i class="fa-solid fa-arrow-right text-success"></i>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 col-12 mb-4">
      <div class="card" >
        <img class="card-img-top img-fluid "
                src="../assets/lovely-woman_144627-31799.avif" alt="Card image cap">
        <div class="card-body mt-2 shadow-lg p-3 mb-5 bg-white rounded">
          <h5 class="card-title fw-bold text-center">Certified Teacher</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 col-12 mb-4">
      <div class="card">
        <img class="card-img-top img-fluid"
                src="../assets/smiling-ginger-woman-shirt-holding-reading-book_171337-7449.avif" alt="Card image cap">
        <div class="card-body mt-2 shadow-lg p-3 mb-5 bg-white rounded">
          <h5 class="card-title fw-bold">Certified Teacher</h5>
          
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="text">
    <p class="text-success fw-bold">Team</p>
    <h4 class="fw-bold">Get Quality Education</h4>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    <div>
      <div class="row mt-4 mb-4">
        <div class="col-sm-12 col-md-4 col-lg-4 col-12 mr-auto mb-4">
          <div class="">
            <div class="card-body shadow p-3 mb-5 bg-white rounded">
              <img class="card-img-top img-fluid"
                src="../assets/happy-smiling-woman-working-laptop-computer-while-sitting-floor-with-legs-crossed-pointing-finger-away_255757-2942.avif" alt="Card image cap">
              <h5 class="card-title text-center">Jonathan</h5>
              <p class="card-text text-center">Frontend Developer</p>
              <div class="container-fluid  text-center">
                <i class="fa-brands fa-facebook fa-lg p-2" style="color: #47ae32;"></i>
                <i class="fa-brands fa-instagram fa-lg p-2" style="color: #47ae32;"></i>
                <i class="fa-brands fa-twitter fa-lgp-2" style="color: #47ae32;"></i>
              </div>


            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-12 mr-auto mb-4">
          <div class="">
            <div class="card-body shadow p-3 mb-5 bg-white rounded">
              <img class="card-img-top img-fluid"
                src="../assets/lovely-woman_144627-31799.avif" alt="Card image cap">
              <h5 class="card-title text-center">Jonathan</h5>
              <p class="card-text text-center">Frontend Developer</p>
              <div class="container-fluid  text-center">
                <i class="fa-brands fa-facebook fa-lg p-2" style="color: #47ae32;"></i>
                <i class="fa-brands fa-instagram fa-lg p-2" style="color: #47ae32;"></i>
                <i class="fa-brands fa-twitter fa-lgp-2" style="color: #47ae32;"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-12 mr-auto mb-4">
          <div class="">   
            <div class="card-body shadow p-3 mb-5 bg-white rounded">
              <img class="card-img-top img-fluid"
                src="../assets/hgf.avif" alt="Card image cap">
              <h5 class="card-title text-center">Jonathan</h5>
              <p class="card-text text-center">Frontend Developer</p>
              <div class="container-fluid  text-center">
                <i class="fa-brands fa-facebook fa-lg p-2" style="color: #47ae32;"></i>
                <i class="fa-brands fa-instagram fa-lg p-2" style="color: #47ae32;"></i>
                <i class="fa-brands fa-twitter fa-lgp-2" style="color: #47ae32;"></i>
              </div>


            </div>
          </div>
        </div>
      </div>

    </div>



    <div class="mb-4 news">
      <div class="text-center">
        <p class="text-success fw-bold">welcome</p>
        <h4 class="fw-bold">Watch Our Courses</h4>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit odio ipsa sapiente qui</div>
        <div>quisquam odio. Error repudiandae ducimus laudantium veniam</div>
        
        <div class="form-group mt-4 px-4">
          <input type="text" [(ngModel)]="email" placeholder="Enter Email" class="mb-2 form-control-lg " id="inputlg">
         &nbsp;
          <button class="btn btn-success form-control-sm" (click)="subscribe()">Subscribe</button>
          <p *ngIf="showSuccessMessage">Success! You have subscribed.</p>
          <p *ngIf="showErrorMessage">Please enter a valid Gmail address.</p>
        </div>
    </div>
  </div>



    <!-- footer-->

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <h5 class="fw-bold">Company Info</h5>
            <ul class="list-unstyled">
              <li><a>About US</a></li>
              <li><a>Carrier</a></li>
              <li><a>Blog</a></li>
            </ul>
          </div>
          <div class="col-md-2">
            <h5 class="fw-bold">Legal</h5>
            <ul class="list-unstyled">
              <li><a>About US</a></li>
              <li><a>Carrier</a></li>
              <li><a>Blog</a></li>
            </ul>
          </div>
          <div class="col-md-2">
            <h5 class="fw-bold">Features</h5>
            <ul class="list-unstyled">
              <li><a>Business & Marketing</a></li>
              <li><a>User Analytic</a></li>
              <li><a>Live Chat</a></li>
            </ul>
          </div>
          <div class="col-md-2">
            <h5 class="fw-bold">Resources</h5>
            <ul class="list-unstyled">
              <li><a >IOS & Android</a></li>
              <li><a >Demo</a></li>
              <li><a >Git</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h5 class="fw-bold">Get in Touch</h5>
            <div>
              <p><i class="fas fa-phone me-3 text-success"></i>Mobile: +91555050856</p>
              <div>
                <p>
                  <i class="fas fa-envelope me-3 text-success"></i>
                  Email: vvk@gmail.com
              </p>
              </div>
              <div>
                <p>
                  <i class="fas fa-location-dot me-3 text-success"></i>
                  Location: Delhi
              </p>
              </div>
               
            </div>
          </div>
        </div>
      </div>
    </footer>

     